a {
  text-decoration: none;
  color: #000;
}

html, body {
  width: %;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}


.dialog {
  display: none;
  > .d-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    > .d-container {
      border-radius: 6px;
      background: #fff;
      width: 80%;
      max-width: 300px;
      > .d-head {
        height: 40px;
        padding: 0 15px;
        border-bottom: 1px solid #dbdbdb;
        display: flex;
        align-items: center;
        justify-content: space-between;
        > h2 {
          font-size: 18px;
          color: #333;
          font-weight: 500;
        }
        > .close {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid #d7d7d7;
          position: relative;
          display: block;
          &::before, &::after {
            content: '';
            display: block;
            position: absolute;
            left: 3px;
            top: 10px;
            width: 15px;
            height: 1px;
            background: #d7d7d7;
          }
          &::before {
            transform: rotateZ(45deg);
          }
          &::after {
            transform: rotateZ(-45deg);
          }
        }
      }
      > .d-content {
        > h3 {
          font-size: 16px;
          font-weight: 500;
          color: #333;
          line-height: 26px;
          padding: 10px;
        }
        > textarea {
          display: block;
          line-height: 24px;
          padding: 5px;
          width: 92%;
          margin: 0 auto;
          border: 1px solid #dbdbdb;
          border-radius: 5px;
        }
        > .d-action {
          padding: 15px 0 20px 0;
          display: flex;
          justify-content: center;
          > a {
            width: 90px;
            height: 30px;
            font-size: 14px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            &.d-action-l {
              color: #d7d7d7;
              border: 1px solid #d7d7d7;
              margin-right: 15px;
            }
            &.d-action-r {
              color: #fc318a;
              border: 1px solid #fc318a;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
